@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:400,700');

// Fonts
$monts-bold: 'Montserrat', sans-serif;
$robo-regular: 'Roboto', sans-serif;

// Colors
$prim-color: #C91215;
$sec-color: #FFFFFF;
$third-color: #2BA84A;