@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:400,700");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/Hovedopgave/Calendar/images/christmas-background.png");
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
}

.container .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.container .form-wrapper .create {
  display: none;
}

.container .form-wrapper .form-holder {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 400px;
  height: 100%;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 4px 13px -5px black;
          box-shadow: 4px 4px 13px -5px black;
}

.container .form-wrapper .sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .form-wrapper .sign-up .form-content {
  width: 80%;
}

.container .form-wrapper .sign-up .form-content i {
  position: absolute;
}

.container .form-wrapper .sign-up .form-content .labels {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
}

.container .form-wrapper .sign-up .form-content .inputs {
  width: 100%;
  height: 35px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 0px 10px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000000;
}

.container .form-wrapper .sign-up .btn {
  padding: 10px;
  background-color: #2BA84A;
  color: white;
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.container .form-wrapper .sign-up .btn:hover {
  background-color: #2e8b45;
}

.container .form-wrapper .sign-up .opret {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.container .form-wrapper .sign-up .opret .opret-click {
  text-decoration: underline;
  color: #2BA84A;
  cursor: pointer;
  margin-bottom: 20px;
}

.container .form-wrapper .sign-up .opret .opret-click:hover {
  color: #2e8b45;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-image: url("/Hovedopgave/Calendar/images/christmas-backgroundT.png");
  }
}

@media screen and (max-width: 767px) {
  body {
    background-image: url("/Hovedopgave/Calendar/images/christmas-backgroundM.png");
  }
}
/*# sourceMappingURL=admin.css.map */