html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/Hovedopgave/Calendar/images/christmas-background.png");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;

    nav {
        margin: 0px;
        padding: 0;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;

            li {
                margin: 20px 20px 0 0;
                list-style: none;
                font-family: sans-serif;
                font-weight: bold;
                letter-spacing: 2px;

                a {
                    text-decoration: none;
                    color: white;
                    margin: 20px;
                }
            }
        }
    }

    .form {
        margin: 50px auto;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 40%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 4px 4px 13px -5px rgb(0, 0, 0);

        .form-content {
            width: 80%;

            .labels {
                font-family: sans-serif;
            }

            .inputs {
                width: 100%;
                height: 35px;
                margin-bottom: 25px;
                margin-top: 10px;
                padding: 0px 10px;
                border: 1px solid #C91215;
                box-sizing: border-box;
                border-radius: 5px;
            }

            .inputs-file {
                width: 100%;
                height: 35px;
                margin-bottom: 25px;
                margin-top: 10px;
            }

            textarea {
                width: 100%;
                height: 100px;
                margin-bottom: 25px;
                margin-top: 10px;
                padding: 10px 10px 0px;
                border: 1px solid #C91215;
                resize: none;
                box-sizing: border-box;
                border-radius: 5px;
            }

            select {
                width: 100%;
                height: 35px;
                margin-bottom: 25px;
                margin-top: 10px;
                padding: 0px 10px;
                border: 1px solid #C91215;
            }
        }

        .btn {
            padding: 10px;
            background-color: #C91215;
            color: white;
            border: none;
            font-size: 16px;
            font-family: sans-serif;
            font-weight: bold;
            letter-spacing: 2px;
            cursor: pointer;

            &:hover {
                background-color: rgb(172, 16, 23);
            }
        }

    }
}

@media only screen and (max-width: 768px) {
    .container {
        height: 100%;

        nav {
            margin: 0px;
            padding: 0;
    
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
    
                li {
                    margin: 20px 10px 0 0;
                    list-style: none;
                    font-family: sans-serif;
                    font-weight: bold;
                    letter-spacing: 2px;
    
                    a {
                        text-decoration: none;
                        color: white;
                        margin: 20px;
                    }
                }
            }
        }

        .form {
            width: 90%;
            height: 90%;
            overflow-y: scroll;
    
            .form-content {
                width: 80%;
    
                .labels {
                    font-family: sans-serif;
                }
    
                .inputs {
                    width: 100%;
                    height: 35px;
                    margin-bottom: 25px;
                    margin-top: 10px;
                    padding: 0px 10px;
                    border: 1px solid #C91215;
                    box-sizing: border-box;
                    border-radius: 5px;
                }
    
                .inputs-file {
                    width: 100%;
                    height: 35px;
                    margin-bottom: 25px;
                    margin-top: 10px;
                }
    
                textarea {
                    width: 100%;
                    height: 100px;
                    margin-bottom: 25px;
                    margin-top: 10px;
                    padding: 10px 10px 0px;
                    border: 1px solid #C91215;
                    resize: none;
                    box-sizing: border-box;
                    border-radius: 5px;
                }
    
                select {
                    width: 100%;
                    height: 35px;
                    margin-bottom: 25px;
                    margin-top: 10px;
                    padding: 0px 10px;
                    border: 1px solid #C91215;
                }
            }
    
            .btn {
                padding: 10px;
                background-color: #C91215;
                color: white;
                border: none;
                font-size: 16px;
                font-family: sans-serif;
                font-weight: bold;
                letter-spacing: 2px;
                cursor: pointer;
    
                &:hover {
                    background-color: rgb(172, 16, 23);
                }
            }
    
        }
    }
}