html,
body {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url("/Hovedopgave/Calendar/images/christmas-background.jpg");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    nav {
        margin: 0px;
        padding: 0;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;

            li {
                margin: 20px 20px 0 0;
                list-style: none;
                font-family: sans-serif;
                font-weight: bold;
                letter-spacing: 2px;

                a {
                    text-decoration: none;
                    color: white;
                    margin: 20px;
                }
            }
        }
    }
    .intro {
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        letter-spacing: 2px;

        .header {
            margin-top: 50px;
            padding: 0;
            color: white;
            font-size: 40px;
        }

        .description {
            color: white;
        }
    }

    .wrap-flex {
        display: flex;
        flex-wrap: wrap;
        margin-top: 200px;

        .wrap {
            position: relative;
            width: 200px;
            height: 200px;
            margin: 0 auto;
            margin-top: 50px;
            border: 2px dotted white;
            border-radius: 10%;
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            transition-duration: 0.3s;
            transition-property: transform;
            transition-timing-function: ease-out;
        }
    
        .wrap:hover,
        .wrap:focus,
        .wrap:active {
            transform: translateY(-8px);
        }
    
        .door {
            background-image: url("/Hovedopgave/Calendar/images/doors-background.jpg");
            background-repeat: no-repeat no-repeat;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 200px;
            height: 200px;
            cursor: pointer;
            z-index: 999;
            transform-origin: left;
            transition: all 0.5s ease-in-out;
            border-radius: 10%;
        }
    
        .number-text {
            margin: 0;
            padding: 0;
            color: white;
            font-size: 44px;
            font-family: sans-serif;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        .inside {
            background-color: yellow;
            top: 0px;
            left: 0px;
            width: 200px;
            height: 200px;
            cursor: pointer;
            border-radius: 10%;
        }
    }
}

.open {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
    border-right: 2px dotted white;
}

.popup {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    .popup-content {
        width: 40%;
        height: 50%;
        padding: 40px;
        background-color: white;
        border-radius: 15px;
        animation: scaleUpModal 400ms ease-out forwards;

        @keyframes scaleUpModal {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
            }
        }

        .exit {
            margin: 0;
            padding: 0;
            font-size: 24px;
            font-family: sans-serif;
            cursor: pointer;
            position: absolute;
            top: 1%;
            right: 1.5%;
        }

        .image-holder {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            .popup-image {
                max-width: 70%;
                height: 300px;
            }
        }
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px;
    background-color: #C11A22;
    color: white;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
        background-color: rgb(172, 16, 23);
    }

    a {
        text-decoration: none;
        color: white;
    }
}

// ADMIN //@

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    .hihi {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 400px;
        height: 100%;
        background-color: white;
        margin-bottom: 30px;
    }

    .sign-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form-content {
            width: 80%;

            .inputs {
                width: 100%;
                height: 25px;
                margin-bottom: 25px;
            }
        }

        .btn {
            padding: 10px;
            background-color: #C11A22;
            color: white;
            border: none;
            font-size: 16px;
            font-family: sans-serif;
            font-weight: bold;
            letter-spacing: 2px;
            cursor: pointer;

            &:hover {
                background-color: rgb(172, 16, 23);
            }
        }
    }
}