@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Roboto:400,700");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/Hovedopgave/Calendar/images/christmas-background.png");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  height: 100vh;
}

.container .upload {
  margin: 20px 20px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}

.container .offset {
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: -1px 0 50px -20px black;
          box-shadow: -1px 0 50px -20px black;
}

.container .offset .close {
  padding: 0;
  margin: 0;
  color: #C91215;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}

.container .offset .form {
  margin: 35px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  background-color: #C91215;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 4px 13px -5px black;
          box-shadow: 4px 4px 13px -5px black;
}

.container .offset .form .form-content {
  width: 80%;
}

.container .offset .form .form-content .labels {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

.container .offset .form .form-content .inputs {
  width: 100%;
  height: 30px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 0px 10px;
  border: 1px solid #C91215;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.container .offset .form .form-content .inputs-file {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.container .offset .form .form-content textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px 10px 0px;
  border: 1px solid #C91215;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.container .offset .form .form-content select {
  width: 100%;
  height: 35px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 0px 10px;
  border: 1px solid #C91215;
}

.container .offset .form .btn {
  padding: 10px;
  width: 100%;
  background-color: #2BA84A;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.container .offset .form .btn:hover {
  background-color: #2e8b45;
}

.container .offset-visible {
  width: 40%;
}

.container nav {
  margin-bottom: 20px;
  padding: 0;
}

.container nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container nav ul li {
  margin: 20px 20px 0 0;
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.container nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  margin: 20px;
}

.container nav ul li a:hover {
  border-bottom: 2px solid #FFFFFF;
}

.container .intro {
  text-align: center;
  letter-spacing: 2px;
}

.container .intro .header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0px 0px 10px;
  padding: 0;
  color: #FFFFFF;
  font-size: 40px;
}

.container .intro .description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

.container .wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px auto 0;
  width: 80%;
}

.container .wrap-flex .wrap {
  position: relative;
  width: 170px;
  height: 170px;
  margin-top: 50px;
  border: 4px dotted #FFFFFF;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.container .wrap-flex .wrap:hover,
.container .wrap-flex .wrap:focus,
.container .wrap-flex .wrap:active {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.container .wrap-flex .door {
  background: repeating-linear-gradient(45deg, #C91215, #C91215 10px, #2BA84A 10px, #2BA84A 20px);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 170px;
  height: 170px;
  cursor: pointer;
  z-index: 999;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .wrap-flex .number-text {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .wrap-flex .inside {
  background: repeating-linear-gradient(45deg, #C91215, #C91215 10px, #2BA84A 10px, #2BA84A 20px);
  top: 0px;
  left: 0px;
  width: 170px;
  height: 170px;
  cursor: pointer;
}

.open {
  -webkit-transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
          transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
  border-right: 4px dotted #FFFFFF;
}

.popup {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup .popup-content {
  width: 40%;
  padding: 40px;
  font-family: sans-serif;
  text-align: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 4px 4px 13px -5px black;
          box-shadow: 4px 4px 13px -5px black;
  -webkit-animation: scaleUpModal 400ms ease-out forwards;
          animation: scaleUpModal 400ms ease-out forwards;
}

@-webkit-keyframes scaleUpModal {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUpModal {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.popup .popup-content .exit {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: sans-serif;
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 1.5%;
}

.popup .popup-content .image-holder {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup .popup-content .image-holder .popup-image {
  max-width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup .popup-content .popup-header {
  font-family: "Montserrat", sans-serif;
}

.popup .popup-content .popup-desc {
  font-family: "Roboto", sans-serif;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  padding: 10px;
  width: 100%;
  background-color: #C91215;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ac1017;
}

.btn a {
  text-decoration: none;
  color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  .container {
    height: 100%;
  }
  .container nav {
    margin: 0px;
    padding: 0;
  }
  .container nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container nav ul li {
    margin: 20px 10px 0 0;
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .container nav ul li a {
    text-decoration: none;
    color: white;
    margin: 20px;
  }
  .container .intro {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  .container .intro .header {
    margin: 50px 0px 10px;
    padding: 0;
    color: white;
    font-size: 30px;
  }
  .container .intro .description {
    color: white;
    width: 90%;
    margin: 0 auto;
  }
  .container .wrap-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 30px auto 0;
    width: 100%;
  }
  .container .wrap-flex .wrap {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    border: 4px dotted #FFFFFF;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .container .wrap-flex .door {
    background: repeating-linear-gradient(45deg, #C91215, #C91215 10px, #2BA84A 10px, #2BA84A 20px);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    z-index: 999;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .container .wrap-flex .number-text {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 40px;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .container .wrap-flex .inside {
    background: repeating-linear-gradient(45deg, #C91215, #C91215 10px, #2BA84A 10px, #2BA84A 20px);
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
  .popup .popup-content {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */